p{
  white-space: pre-wrap;
}

*{
  word-wrap: break-word;
}

.App {
  text-align: center;
  max-width: 90rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

