.Main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 50rem;
    padding: 1rem 3rem 3rem 3rem;
    box-sizing: border-box;
}

.Main p {
    line-height: 1.8rem;
}

.Main__title{
    font-size: 2.5rem;
    font-weight: 500;
    width: 100%;
    margin: 0px;
    text-align: left;
}

.Main__intro{
    text-align: left;
}

.Main__subtitle{
    font-size: 2rem;
    font-weight: 450;
    padding: 0px;
    margin: 1rem 0rem 1rem 0rem;
}

@media only screen and (max-width: 910px) {
    .Main__title{
        font-size: 2rem;
    }

    .Main__subtitle{
        font-size: 2rem;
    }
  }

@media only screen and (max-width: 400px) {
    .Main{
        padding: 1rem;
    }

    .Main__title{
        font-size: 1.5rem;
    }

    .Main__subtitle{
        font-size: 1.5rem;
    }
  }

.skills-box{
    background-color: var(--codegrey);
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    padding: 1.2rem;
    margin-bottom: 2rem;
}

.skills-box__text{
    margin: 0rem;
    text-align: left;
    line-height: 2em;
    font-family: monospace;
    font-size: 0.9rem;
}

.Main__project-title{
    font-size: 1rem !important;
    font-weight: bold !important;
}

.Main__project-text{
    text-align: left;
}

.Main__project-text-container{
    padding-left: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.Main__project__img{
    width: 100%;
    align-self: center;
}

.Main__project-text__link{
    color: var(--blue);
}

.Main__project-text__link:hover{
    text-decoration: none;
}

.cavern-link__button{
    all: unset;
    margin: 0rem 2rem;
    height: 3rem;
    width: 7rem;
    border-radius: 0.2rem;
    background-color: white;
    border: 1px solid var(--grey);
    font-size: 1rem;
    font-weight: 500;
}

.cavern-link__button:hover{
    background-color: var(--grey);
}

.cavern-link{
    text-decoration: none;
    color: black;
}

.cavern-link__container{
    display: flex;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 400px) {
    .cavern-link__container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .cavern-link__container p{
        text-align: center;
    }

    .cavern-link__button{
        margin: 0rem;  
    }
  }

.experience__title{
    font-weight: 500;
    text-align: left;
    margin: 1rem 0rem 0rem;
}

.experience__text{
    text-align: left;
}

.experience__details{
    width: 100%;
    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}


.anchor{
    position: relative; 
    top: -6rem; 
    visibility: hidden;
}


