.Main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 50rem;
    padding: 1rem 3rem 3rem 3rem;
    box-sizing: border-box;
}

.Main__title{
    font-size: 2.5rem;
    font-weight: 500;
    width: 100%;
    margin: 0px;
}

@media only screen and (max-width: 910px) {
    .Main__title{
        font-size: 2rem;
    }
  }

@media only screen and (max-width: 400px) {
    .Main{
        padding: 1rem;
    }

    .Main__title{
        font-size: 1.5rem;
    }
  }

.Main__intro{
    text-align: left;
    line-height: 1.8rem;

    font-weight: 300;
}

.Main__subtitle{
    font-size: 2rem;
    font-weight: 450;
}

.skills-box{
    background-color: var(--codegrey);
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    padding: 1.2rem;
}

.skills-box__text{
    margin: 0rem;
    text-align: justify;
    line-height: 2em;
    font-weight: 300;
}

.Main__project-text{
    margin-left: 2rem;
    text-align: justify;
    font-weight: 300;
}

.Main__project__img{
    width: 30rem;
    align-self: center;
}

.Main__project-text__link{
    color: var(--blue);
}

.Main__project-text__link:hover{
    text-decoration: none;
}

.cavern-link__button{
    all: unset;
    margin-left: 2rem;
    height: 3rem;
    width: 7rem;
    border-radius: 0.2rem;
    background-color: white;
    border: 1px solid var(--grey);
    font-size: 1rem;
    font-weight: 500;
}

.cavern-link__button:hover{
    background-color: var(--grey);
}

.cavern-link{
    text-decoration: none;
    color: black;
}

.cavern-link__container{
    display: flex;
}

.experience__title{
    font-weight: 400;
}

.experience__text{
    font-weight: 300;
    text-align: justify;
}

.experience__details{
    width: 100%;
    text-align: justify;
    padding: 0rem 1rem;
    margin-bottom: 3rem;
}

.anchor{
    position: relative; 
    top: -6rem; 
    visibility: hidden;
}

