.Main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 50rem;
    padding: 1rem 3rem 3rem 3rem;
}

.Main__title{
    font-size: 2.5rem;
    font-weight: 500;
}

.Main__intro{
    text-align: justify;
    line-height: 1.8rem;

    font-weight: 300;
}

.Main__subtitle{
    font-size: 2rem;
    font-weight: 450;
}

.code-demo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;;
}

.code-demo__title{
    border: 1px solid var(--grey);
    margin: 0rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
    text-align: justify;
}

.code-demo__body{
    height: 15rem;
    border-bottom: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    display: flex;
    border-radius: 0rem 0rem 0.2rem 0.2rem;
}

.code-demo__body__number-column{
    width: 2rem;
    background-color: var(--lightgrey);
    border-right: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 0.5rem;
}

.code-demo__body__number-column p{
    margin: 0.1rem;
    font-weight: 350;
}

.code-demo__body__code-field{
    white-space: pre;
    text-align: justify;
    padding: 0.5rem;
}

.code-demo__body__code-field p{
    margin: 0.1rem;
    line-height: 1.3rem;
    font-weight: 350;
}

.code-demo__output-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.code-demo__output-row__button-column{
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.code-demo__output-row__button{
    all: unset;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: 2rem;
    border-radius: 0.2rem;
    background-color: white;
    border: 1px solid var(--grey);
    font-size: 0.8rem;
    font-weight: 500;
}

.code-demo__output-row__button:hover{
    background-color: var(--grey);
}

.code-demo__output-row__output-box{
    width: 100%;
    min-height: 10rem;
    overflow: auto;
    background-color: var(--lightgrey);
    border: 1px solid var(--grey);
    border-radius: 0.2rem;
    margin-top: 0.5rem;
}

.code-demo__output-row__output-text{
    text-align: justify;
    margin: 0.6rem;
    font-weight: 350;
    line-height: 1.5rem;
}

.skills-box{
    background-color: var(--codegrey);
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    padding: 1.2rem;
}

.skills-box__text{
    margin: 0rem;
    text-align: justify;
    line-height: 2em;
    font-weight: 300;
}

.Main__project-text{
    margin-left: 2rem;
    text-align: justify;
    font-weight: 300;
}

.Main__project__img{
    width: 30rem;
    align-self: center;
}

.Main__project-text__link{
    color: var(--blue);
}

.Main__project-text__link:hover{
    text-decoration: none;
}

.cavern-link__button{
    all: unset;
    margin-left: 2rem;
    height: 3rem;
    width: 7rem;
    border-radius: 0.2rem;
    background-color: white;
    border: 1px solid var(--grey);
    font-size: 1rem;
    font-weight: 500;
}

.cavern-link__button:hover{
    background-color: var(--grey);
}

.cavern-link{
    text-decoration: none;
    color: black;
}

.cavern-link__container{
    display: flex;
}

.experience__title{
    font-weight: 400;
}

.experience__text{
    font-weight: 300;
    text-align: justify;
}

.experience__details{
    width: 100%;
    text-align: justify;
    padding: 0rem 1rem;
    margin-bottom: 3rem;
}

.anchor{
    position: relative; 
    top: -6rem; 
    visibility: hidden;
}

