.SectionMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15rem;
    height: 50%;
    
}

.responsive{
    position: -webkit-sticky;
    position: sticky;
    top: 5.5rem;
}

@media only screen and (max-width: 1200px) {
    .SectionMenu.responsive{
        display: none;
    }
  }

  @media only screen and (min-width: 1200px) {
    .SectionMenu.static{
        display: none;
    }
  }

.SectionMenu__title{
    padding-top: 2rem;;
    font-size: 1.2rem;
    font-weight: 400;
}

.SectionMenu__label{
    color: black;
    width: 10rem;
    text-decoration: none;
    margin: 0rem;
    padding: 1rem;
    border-left: 2px solid var(--grey);
    font-size: 0.8rem;
    text-align: justify;
}

.SectionMenu__label--highlighted{
    color: black;
    font-weight: 500;
    width: 10rem;
    text-decoration: none;
    margin: 0rem;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: justify;
    border-left: 2px solid var(--highlight);
    background-color: var(--highlight-bg);
}

.SectionMenu__label:hover{
    color: var(--blue)
}