:root {
    --grey: rgb(200, 200, 200);
    --lightgrey: rgb(245, 245, 245);
    --codegrey: rgb(235, 235, 235);
    --commentgrey: rgb(150, 150, 150);
    --highlight: rgb(161, 151, 56);
    --highlight-bg: rgb(223, 219, 183);
    --blue: rgb(62, 140, 204);
    --red: rgb(255, 52, 52);
    --green: rgb(18, 161, 13);
}